<a href="https://colab.research.google.com/github/Daniel-Benson-Poe/ForageInternships/blob/main/TataInternshipTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Background

An online retail store has hired you as a consultant to review their data and provide insights that would be valuable to the CEO and CMO of the business. The business has been performing well and the management wants to analyse what the major contributing factors are to the revenue so they can strategically plan for next year.

The leadership is interested in viewing the metrics from both an operations and marketing perspective. Management also intends to expand the business and is interested in seeking guidance into areas that are performing well so they can keep a clear focus on what’s working. They would also like to view different metrics based on the demographic information that is available in the data.

A meeting with the CEO and CMO has been scheduled for next month and you need to draft the relevant analytics and insights that would help evaluate the current business performance and suggest metrics that would enable them to make the decision on expansion.

Remember, thinking from the perspective of business leaders allows you to analyse the data more effectively and present better insights.

Access the links in the resources below to better understand how business leaders think and approach business performance.

##The Task

To prepare for your meeting, you need to draft questions that you think will be important and relevant to the CEO and CMO. This preparation will be your guide as you develop your presentation.

For this task, you are only required to draft the questions. Make sure to think both quantitatively and qualitatively.

You’ve been provided a dataset in the resources below to use as the basis for your exploration. Review this data, taking note of what information has been provided, what insights you can garner, and what is relevant to both the CEO and CMO respectively.

Create a set of four questions that you anticipate each business leader will ask and want to know the answers to. Make sure you differentiate your questions, as both the CEO and CMO view business decisions through different lenses.

Submit your eight questions in total (4 for the CEO and 4 for the CMO) in the text submission box below.

In [1]:
#Initial Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# upload data
from google.colab import files
file = files.upload()

Saving Online Retail.xlsx to Online Retail.xlsx

In [5]:
# read in the data
# keep in mind that the data is in an excel spreadsheet
online_retail_df = pd.read_excel("Online Retail.xlsx")

In [6]:
# Look at the first 10 rows of data
online_retail_df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [7]:
# Look at the size of the data
online_retail_df.shape

(541909, 8)

In [8]:
# Look at the details
online_retail_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [14]:
#Look at the details of the nonnumeric data
online_retail_df.describe(exclude="number")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,InvoiceNo,StockCode,Description,InvoiceDate,Country
count,541909.0,541909,540455,541909,541909
unique,25900.0,4070,4223,23260,38
top,573585.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2011-10-31 14:41:00,United Kingdom
freq,1114.0,2313,2369,1114,495478
first,NaN,NaN,NaN,2010-12-01 08:26:00,NaN
last,NaN,NaN,NaN,2011-12-09 12:50:00,NaN

In [15]:
online_retail_df["Country"].value_counts()

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

Some Important Questions to Ask Considering the Data:

• What dates seem to correlate with higher sales.

• What time of day seems to correlate with higher sales

• What Countries garner the most sells

• What products show higher sales?

• What products show the lowest amount of sales?

• Based on number of sells, what product/s could be increased in price with the least loss of total sells?

• Based on number of sells, what product/s should be decreased in price to garner higher sell numbers?

• What product/s should be marketed more in which countries to increase sells?

• How frequently are customer's returning?

• What items are customers rebuying?

Let's organize these questions based on CEO and CMO

###CEO:

  • What dates seem to correlate with higher sells

  • What time of day seems to correalte with higher sells

  • What countries garner the most sells

  • Based on number of sells, what product/s could be increased in price with the least loss of total sells?

  • Based on number of sells, what product/s should be decreased in price to garner higher sells numbers?

  • How frequently are customers returning?

  • What items are customers rebuying?

  • Are sells increasing or decreasing?

  • What do sells projections look like?

  • Are we seeing an increase or decrease in customers?

  • What is the average revenue per customer?

###CMO:

• What products show the highest sells?

• What prodcuts show the lowest sells?

• Baed on the above, what products should be marketed more?

• Should some items be marketed more in certain countries to increase sells there?

• What date ranges can we market which items to garner a greater increase in sells?

###Model Work from Tata (NOT MY WORK - PULLED FROM TATA)

###CEO:

• Which region is generating the highest revenue, and which region is generating the lowest?

• What is the monthly trend of revenue, which months have faced the biggest increase/decrease?

• Which months generated the most revenue? Is there a seasonality in sales?

• Who are the top customers and how much do they contribute to the total revenue? Is the business dependent on these customers or is the customer base diversified?

###CMO:

• What is the percentage of customers who are repeating their orders? Are they ordering the same products or different?

• For the repeat customers, how long does it take for them to place the next order after being delivered the previous one?

• What revenue is being generated from the customers who have ordered more than once?

• Who are the customers that have repeated the most? How much are they contributing to revenue?